@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row">
  <form class="d-flex justify-content-start" role="search" method="get" asp-controller="Search" asp-action="Search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>